[submodule "sites/all/themes/theblock"]
	path = sites/all/themes/theblock
	url = https://github.com/AlbertAtTheory/The-BLOCK-Theme.git
[submodule "sites/all/libraries/facebook-php-sdk"]
	path = sites/all/libraries/facebook-php-sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "sites/all/libraries/colorbox"]
	path = sites/all/libraries/colorbox
	url = https://github.com/jackmoore/colorbox.git
[submodule "sites/all/themes/shiny"]
	path = sites/all/themes/shiny
	url = http://git.drupal.org/project/shiny.git
[submodule "sites/all/themes/adaptivetheme"]
	path = sites/all/themes/adaptivetheme
	url = http://git.drupal.org/project/adaptivetheme.git
