/* Page */
#construction {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	background: rgba(0,0,0,0.9);
	z-index: 20;
	top: 0;
	left: 0;
}

#construction img {
	position: absolute;
	top: 50%;
	right: 50%;
	margin-right: -300px;
	margin-top: -75px;
}

/* Header */
#main-content > header {
	margin: 0;
}
#header-wrapper .container {
	width: 100%;
}
#page > header > hgroup {
  margin: 0 10px;
}
#site-name { display: none; }
#site-name a    {}
#site-name a:visited {}
#site-name a:hover   {}
#site-name a:focus   {}
#site-name a:active  {}
#site-slogan {}

/* Page title */
h1#page-title {
	margin-bottom: 20px;
}

/* Main Content */
#main-content {
	background: #302c29;
	padding: 20px;
}

/* Sidebars */

#block-views-recent-action-block { 
	margin-top: -10px;
}

#block-views-recent-action-block a {
	text-decoration: underline;
}

#block-views-recent-action-block .views-field-php {
	float: left;
	margin-right: 10px;
}

#block-views-recent-action-block .views-field-message {
	line-height: 16px;
	margin-bottom: 5px;
	margin-left: 40px;
}

#block-views-recent-action-block .views-field-created-at {
	font-size: 10px;
	font-family: Arial, sans-serif;
	margin-bottom: 10px;
	margin-left: 40px;
}

#block-views-recent-action-block .views-row {
	border-bottom: 1px solid #443f39;
	margin-bottom: 10px;
}

#block-views-recent-action-block .views-row-last { border:0; }

/* Footer - the main page footer only */
#page > footer {}


/* Prevent overflowing content */
header[role=banner],
.content-inner,
.nav,
.region-sidebar-first,
.region-sidebar-second,
.region-secondary-content,
.region-tertiary-content,
.region-footer {
  overflow: visible;
  word-wrap: break-word;
}
