#playlist_block_youtube_player {
  position: absolute;
  top: 0;
  left: -610px;
  z-index: 10;
  width: 600px;
  height: 360px;
}

#playlist_block_youtube_player.player-state--1,
#playlist_block_youtube_player.player-state-0 {
  display: none;
}

#block-playlist-block-playlist-block-default {
  margin-bottom: 20px;
  background: #f4f3e9;
  color: #312D29;
}

#block-playlist-block-playlist-block-default h2 {
  height: 60px;
  background: url(../images/sema-topper.png) top left no-repeat;
  margin: -20px -20px 0 -20px;
  text-indent: -999px;
  overflow: hidden;
}

#block-playlist-block-playlist-block-default .block-content {
  margin: 0 -10px -20px -10px;
}

#block-playlist-block-playlist-block-default .youtube-title {
  font-family: BellGothicBT-Roman,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

#block-playlist-block-playlist-block-default thead {
  display: none !important;
}

#block-playlist-block-playlist-block-default tbody {
  border: 0;
}

#block-playlist-block-playlist-block-default .youtube-thumbnail,
#block-playlist-block-playlist-block-default .youtube-thumbnail img {
  padding: 0;
  width: 100px;
}

#block-playlist-block-playlist-block-default .thumbnail-trim {
  height: 55px;
  overflow: hidden;
  padding-top: 0px;
}

#block-playlist-block-playlist-block-default .thumbnail-trim img {
  margin-top: -10px;
}

#block-playlist-block-playlist-block-default tr {
  background-color: transparent !important;
}

#block-playlist-block-playlist-block-default td {
  padding-bottom: 6px !important;
}

#block-playlist-block-playlist-block-default a {
  color: #312D29;
}

#block-playlist-block-playlist-block-default .youtube-share {
  padding: 0;
}

#block-playlist-block-playlist-block-default .facebook {
  display: block;
  width: 10px;
  height: 10px;
  background: url(../images/facebook.png) top left no-repeat;
  text-indent: -999px;
  overflow: hidden;
  margin-bottom: 3px;
}

#block-playlist-block-playlist-block-default .twitter {
  display: block;
  width: 10px;
  height: 10px;
  background: url(../images/twitter.png) top left no-repeat;
  text-indent: -999px;
  overflow: hidden;
}

#block-playlist-block-playlist-block-default span.ext { display: none; }